flows/101.json
[{"id":"7535f809.36bcf8","type":"inject","z":"58eba6b2.88bba8","name":"","topic":"","payload":"Hello World","payloadType":"str","repeat":"","crontab":"","once":false,"x":148.09071350097656,"y":77.88703155517578,"wires":[["15d6a915.465647"]]},{"id":"15d6a915.465647","type":"rpi-sensehat out","z":"58eba6b2.88bba8","name":"","x":803.738525390625,"y":71.0312385559082,"wires":[]},{"id":"495b7b67.b1a5f4","type":"function","z":"58eba6b2.88bba8","name":"color","func":"var val = msg.payload.toString();\n\nswitch (val) {\n    case 'Aggies':\n        msg.background = \"#500000\"; //Aggies Maroon\n        msg.color = \"White\";\n        msg.payload = \"Gaggies\";\n        break;\n    case 'Texas':\n        msg.background = \"191,87,0\";\n        msg.color = \"White\";\n        msg.payload = \"t.u.\";\n        break;\n    default:\n        msg.background = \"10,89,168\"; //osisoft blue\n        msg.color = \"#FOEFEB\"; //almost white\n        msg.payload = \"Coach Yung\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":478,"y":215,"wires":[["15d6a915.465647"]]},{"id":"6a4cf5e3.a39c6c","type":"inject","z":"58eba6b2.88bba8","name":"","topic":"","payload":"Aggies","payloadType":"str","repeat":"","crontab":"","once":false,"x":125,"y":225,"wires":[["495b7b67.b1a5f4"]]},{"id":"3a79ea15.84e546","type":"inject","z":"58eba6b2.88bba8","name":"","topic":"","payload":"Texas","payloadType":"str","repeat":"","crontab":"","once":false,"x":124,"y":271,"wires":[["495b7b67.b1a5f4"]]},{"id":"965bbb73.793de8","type":"inject","z":"58eba6b2.88bba8","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":124,"y":324,"wires":[["495b7b67.b1a5f4"]]},{"id":"9a83e58a.4e4d18","type":"inject","z":"58eba6b2.88bba8","name":"Clear","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":127,"y":130,"wires":[["15d6a915.465647"]]},{"id":"ec7478d2.2280e8","type":"rpi-sensehat in","z":"58eba6b2.88bba8","name":"","motion":true,"env":true,"stick":true,"x":124,"y":450,"wires":[["668a046e.eac66c","eed409b8.e4b598"]]},{"id":"668a046e.eac66c","type":"debug","z":"58eba6b2.88bba8","name":"","active":false,"console":"false","complete":"false","x":315,"y":385,"wires":[]},{"id":"40db8b95.c31714","type":"inject","z":"58eba6b2.88bba8","name":"","topic":"","payload":"Aquamarine","payloadType":"str","repeat":"","crontab":"","once":false,"x":146,"y":178,"wires":[["e84fdac.9100028"]]},{"id":"e84fdac.9100028","type":"function","z":"58eba6b2.88bba8","name":"","func":"var val = msg.payload.toString();\nmsg.color = val;\n\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":178,"wires":[["15d6a915.465647"]]},{"id":"eed409b8.e4b598","type":"switch","z":"58eba6b2.88bba8","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"environment","vt":"str"},{"t":"eq","v":"joystick","vt":"str"},{"t":"eq","v":"motion","vt":"str"}],"checkall":"true","outputs":3,"x":508,"y":449,"wires":[["49e0f6df.6507d8"],["cf6f724d.93f15"],["ca628be4.9360f8"]]},{"id":"49e0f6df.6507d8","type":"delay","z":"58eba6b2.88bba8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"6","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":732,"y":410,"wires":[["c44b5e6a.90747"]]},{"id":"c44b5e6a.90747","type":"debug","z":"58eba6b2.88bba8","name":"","active":false,"console":"false","complete":"false","x":998,"y":411,"wires":[]},{"id":"cf6f724d.93f15","type":"debug","z":"58eba6b2.88bba8","name":"","active":false,"console":"false","complete":"false","x":999,"y":447,"wires":[]},{"id":"ca628be4.9360f8","type":"debug","z":"58eba6b2.88bba8","name":"","active":false,"console":"false","complete":"false","x":999,"y":484,"wires":[]},{"id":"e494476f.bc2ed8","type":"delay","z":"58eba6b2.88bba8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"6","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":732,"y":506,"wires":[[]]},{"id":"22572a07.a15b96","type":"exec","z":"58eba6b2.88bba8","command":" ","addpay":true,"append":"","useSpawn":"","timer":"","name":"os commands","x":723,"y":629.5,"wires":[["987d59bf.8c3ce8"],[],[]]},{"id":"d3b62943.d4dd78","type":"inject","z":"58eba6b2.88bba8","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":112,"y":629,"wires":[["5e092d5e.fe0954","ddb475a9.6fb778"]]},{"id":"5e092d5e.fe0954","type":"function","z":"58eba6b2.88bba8","name":"","func":"var timestamp = new Date().toISOString();\nmsg.timestamp = timestamp;\n\nvar piinfo = {}; // this is a (empty) javascript object\n// note for both js and linux both \" and ' can denote string, so you can use them wisely \npiinfo.freemem = 'cat /proc/meminfo | grep MemFree | cut -d \":\" -f 2 | cut -d \"k\" -f 1';\n// the cpu temp get a little harder - we need to use a \\' for the '\npiinfo.cputemp = 'vcgencmd measure_temp |cut -d \"=\" -f 2 | cut -d \"\\'\" -f 1';\n\n// could use javascript to split into 2 messages or use a \"split\" node\nvar newmsg = {payload:{}};\nvar timestamp = new Date().toISOString();\nnewmsg.timestamp = timestamp;\nfor(var prop in piinfo) {\n    newmsg.payload = piinfo[prop];\n    node.send(newmsg);\n}\n\n//return msg;\nreturn;","outputs":1,"noerr":0,"x":286,"y":631,"wires":[["22572a07.a15b96","36050fa3.8d67f"]]},{"id":"36050fa3.8d67f","type":"debug","z":"58eba6b2.88bba8","name":"","active":false,"console":"false","complete":"true","x":594,"y":689,"wires":[]},{"id":"ddb475a9.6fb778","type":"function","z":"58eba6b2.88bba8","name":"","func":"var timestamp = new Date().toISOString();\nmsg.timestamp = timestamp;\n\nvar piinfo = {}; // this is a (empty) javascript object\n// note for both js and linux both \" and ' can denote string, so you can use them wisely \npiinfo.freemem = 'cat /proc/meminfo | grep MemFree | cut -d \":\" -f 2 | cut -d \"k\" -f 1';\n// the cpu temp get a little harder - we need to use a \\' for the '\npiinfo.cputemp = 'vcgencmd measure_temp |cut -d \"=\" -f 2 | cut -d \"\\'\" -f 1';\n\nmsg.payload = piinfo;\n\nreturn msg;","outputs":1,"noerr":0,"x":286,"y":688,"wires":[["42528f49.8c08c"]]},{"id":"42528f49.8c08c","type":"split","z":"58eba6b2.88bba8","name":"","splt":"\\n","x":424,"y":688,"wires":[["36050fa3.8d67f"]]},{"id":"987d59bf.8c3ce8","type":"debug","z":"58eba6b2.88bba8","name":"","active":true,"console":"false","complete":"false","x":997,"y":618,"wires":[]}]