flows/toRPI.json
[{
    "id": "c552620.40b10a",
    "type": "http request",
    "z": "1dd584b9.869f1b",
    "name": "Get Value",
    "method": "use",
    "ret": "obj",
    "url": "",
    "tls": "",
    "x": 496.6666946411133,
    "y": 151.22225093841553,
    "wires": [
        ["6bd8867e.cdb868", "3de6f756.3f6ce8"]
    ]
}, {
    "id": "c10d2fad.832b6",
    "type": "http request",
    "z": "1dd584b9.869f1b",
    "name": "Get WebID",
    "method": "use",
    "ret": "obj",
    "url": "",
    "tls": "",
    "x": 504.4444351196289,
    "y": 89.00001239776611,
    "wires": [
        ["e9b7ca73.b964c8", "631014b6.69082c", "f81011fa.a776d"]
    ]
}, {
    "id": "38ac07a3.ff04c8",
    "type": "function",
    "z": "1dd584b9.869f1b",
    "name": "",
    "func": "//url:  https://<yourserver>/piwebapi/points?path=\\\\<yourpidb>\\sinusoid\n\nvar tag = msg.payload;\nvar auth = global.get(\"pi\").auth;\nvar url = global.get(\"pi\").url;\nvar pidb = global.get(\"pi\").pidb;\nvar path = pidb.concat(\"\\\\\",tag);\nvar baseurl = \"/points?path=\"; \nvar urlparam = encodeURIComponent(path);\nmsg.url = url.concat(baseurl,urlparam);\nmsg.method = \"GET\";\nmsg.headers = {\n        Authorization: auth                     \n    };\nreturn msg;\n",
    "outputs": 1,
    "noerr": 0,
    "x": 332.2222023010254,
    "y": 90.11110401153564,
    "wires": [
        ["c10d2fad.832b6"]
    ]
}, {
    "id": "e9b7ca73.b964c8",
    "type": "function",
    "z": "1dd584b9.869f1b",
    "name": "",
    "func": "//url: https://<yourserver>/piwebapi/streams/<webid>/value\n\nvar auth = global.get(\"pi\").auth;\nvar url = global.get(\"pi\").url;\nvar webid = msg.payload.WebId;\nvar urlparam = (\"/\").concat(\"streams\",\"/\",webid,\"/\",\"value\");\n\nmsg.url = url.concat(urlparam);\nmsg.method = \"GET\";\nmsg.headers = {\n        Authorization: auth                     \n    };\nreturn msg;\n\n",
    "outputs": 1,
    "noerr": 0,
    "x": 332.22221755981445,
    "y": 152.3333215713501,
    "wires": [
        ["c552620.40b10a"]
    ]
}, {
    "id": "65d4fad9.74ec04",
    "type": "rpi-sensehat out",
    "z": "1dd584b9.869f1b",
    "name": "",
    "x": 981.6174430847168,
    "y": 320.7113342285156,
    "wires": []
}, {
    "id": "6bd8867e.cdb868",
    "type": "debug",
    "z": "1dd584b9.869f1b",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "false",
    "x": 924.77783203125,
    "y": 147.55555725097656,
    "wires": []
}, {
    "id": "e5900cb9.3e62d",
    "type": "debug",
    "z": "1dd584b9.869f1b",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "false",
    "x": 426.4444580078125,
    "y": 548.6666870117188,
    "wires": []
}, {
    "id": "e5c1d940.af5df8",
    "type": "websocket out",
    "z": "1dd584b9.869f1b",
    "name": "web socket init",
    "server": "",
    "client": "529a9b4c.03fb74",
    "x": 167.22222900390625,
    "y": 476.77777099609375,
    "wires": []
}, {
    "id": "1badd2e0.77a68d",
    "type": "websocket in",
    "z": "1dd584b9.869f1b",
    "name": "web socket receive",
    "server": "",
    "client": "529a9b4c.03fb74",
    "x": 175.11114501953125,
    "y": 547.7777709960938,
    "wires": [
        ["e5900cb9.3e62d"]
    ]
}, {
    "id": "7cdf0207.873e1c",
    "type": "inject",
    "z": "1dd584b9.869f1b",
    "name": "",
    "topic": "",
    "payload": "sinusoid",
    "payloadType": "str",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 142,
    "y": 91,
    "wires": [
        ["38ac07a3.ff04c8"]
    ]
}, {
    "id": "7ed47264.d6919c",
    "type": "comment",
    "z": "1dd584b9.869f1b",
    "name": "Using PI Web API Multiple Single Calls",
    "info": "",
    "x": 169,
    "y": 44,
    "wires": []
}, {
    "id": "189519d7.c94086",
    "type": "comment",
    "z": "1dd584b9.869f1b",
    "name": "Using PI Web API Batch Controller",
    "info": "",
    "x": 159,
    "y": 280,
    "wires": []
}, {
    "id": "748611f1.80d81",
    "type": "inject",
    "z": "1dd584b9.869f1b",
    "name": "",
    "topic": "",
    "payload": "sinusoid",
    "payloadType": "str",
    "repeat": "60",
    "crontab": "",
    "once": true,
    "x": 149,
    "y": 322,
    "wires": [
        ["5243d269.6af3dc"]
    ]
}, {
    "id": "f012c1d8.93d01",
    "type": "comment",
    "z": "1dd584b9.869f1b",
    "name": "Using PI Web Web Socket",
    "info": "",
    "x": 131,
    "y": 426,
    "wires": []
}, {
    "id": "631014b6.69082c",
    "type": "debug",
    "z": "1dd584b9.869f1b",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "payload.WebId",
    "x": 954,
    "y": 88,
    "wires": []
}, {
    "id": "45100e28.f993f",
    "type": "function",
    "z": "1dd584b9.869f1b",
    "name": "",
    "func": "var pival = msg.payload;\n\nif (pival <= 10) msg.color = \"red\";\nif (pival > 10) msg.color = \"orange\"; \nif (pival > 20) msg.color = \"yellow\"; \nif (pival > 30) msg.color = \"green\"; \nif (pival > 40) msg.color = \"blue\";\nif (pival > 50) msg.color = \"violet\";\nif (pival > 60) msg.color = \"aquamarine\";\nif (pival > 70) msg.color = \"pink\";\nif (pival > 80) msg.color = \"maroon\";\nif (pival > 90) msg.color = \"teal\";\n\n\nmsg.payload = Math.round(pival);\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 824.6268615722656,
    "y": 320.63329696655273,
    "wires": [
        ["65d4fad9.74ec04"]
    ]
}, {
    "id": "3de6f756.3f6ce8",
    "type": "debug",
    "z": "1dd584b9.869f1b",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "payload.Value",
    "x": 945,
    "y": 191,
    "wires": []
}, {
    "id": "f81011fa.a776d",
    "type": "debug",
    "z": "1dd584b9.869f1b",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "false",
    "x": 925,
    "y": 48,
    "wires": []
}, {
    "id": "5243d269.6af3dc",
    "type": "function",
    "z": "1dd584b9.869f1b",
    "name": "",
    "func": "var msg1 = {payload:{}};\nvar Resource = [];\nvar Method = [];\nvar Parameters = [];\nvar ParentIds = [];\nvar urlparam;\nvar tag = msg.payload;\nvar auth = global.get(\"pi\").auth;\nvar url = global.get(\"pi\").url;\nvar pidb = global.get(\"pi\").pidb;\nvar path = pidb.concat(\"\\\\\",tag);\nvar baseurl = \"/points?path=\"; \nurlparam = encodeURIComponent(path);\n\nResource[Resource.length] = url.concat(baseurl,urlparam);\n//url:  https://<yourserver>/piwebapi/points?path=\\\\<yourpidb>\\sinusoid\nMethod[Method.length] = \"GET\";\nParameters[Parameters.length] = null;\nParentIds[ParentIds.length] = null;\n\n\nurlparam = (\"/\").concat(\"streams\",\"/\",\"{0}\",\"/\",\"value\");\nResource[Resource.length] = url.concat(urlparam);\nMethod[Method.length] = \"GET\";\nParameters[Parameters.length] = [\"$.0.Content.WebId\"];\nParentIds[ParentIds.length] = [\"0\"];\n\nvar body = {};\nvar i;\nfor (i = 0; i < Resource.length; ++i) {\n    body[i] = {};\n    body[i].Resource = Resource[i];\n    body[i].Method = Method[i];\n    if (Parameters[i]) body[i].Parameters = Parameters[i];\n    if (ParentIds[i]) body[i].ParentIds = ParentIds[i];\n}\n\nmsg1.payload = body;\nurlparam = (\"/\").concat(\"batch\");\nmsg1.url = url.concat(urlparam);\nmsg1.method = \"POST\";\nmsg1.headers = {\n        Authorization: auth                     \n    };\n    \nreturn msg1;",
    "outputs": 1,
    "noerr": 0,
    "x": 315.85578536987305,
    "y": 321.8557949066162,
    "wires": [
        ["506d7854.630068"]
    ]
}, {
    "id": "506d7854.630068",
    "type": "http request",
    "z": "1dd584b9.869f1b",
    "name": "Get WebID and Value",
    "method": "use",
    "ret": "obj",
    "url": "",
    "tls": "",
    "x": 504.9678955078125,
    "y": 322.6358642578125,
    "wires": [
        ["a8767826.9faf38", "1d7a2604.928a8a"]
    ]
}, {
    "id": "a8767826.9faf38",
    "type": "debug",
    "z": "1dd584b9.869f1b",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "payload[\"1\"]",
    "x": 631.0398178100586,
    "y": 381.6859188079834,
    "wires": []
}, {
    "id": "1d7a2604.928a8a",
    "type": "function",
    "z": "1dd584b9.869f1b",
    "name": "",
    "func": "var value = msg.payload[\"1\"].Content.Value;\n\nmsg.payload = value;\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 682.0710754394531,
    "y": 320.9242916107178,
    "wires": [
        ["8b031ee2.1416b", "45100e28.f993f"]
    ]
}, {
    "id": "8b031ee2.1416b",
    "type": "debug",
    "z": "1dd584b9.869f1b",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "false",
    "x": 824.133544921875,
    "y": 383.3975019454956,
    "wires": []
}, {
    "id": "529a9b4c.03fb74",
    "type": "websocket-client",
    "z": "1dd584b9.869f1b",
    "path": "wss://<yourwebapi>/piwebapi/streams/<webid>/channel?encoding=text",
    "wholemsg": "false"
}]